[Unit]                                            
Description=IO Exporter FastAPI Server       
After=network.target

[Service]      
User=root
WorkingDirectory=/opt/io_exporter
ExecStart=/opt/io_exporter/io_exporter-env/bin/uvicorn io_exporter_api:app --host 0.0.0.0 --port 8001 --no-access-log --log-level error
Restart=always

[Install]
WantedBy=multi-user.target
